.container {
    width: 100%; 
    justify-content: space-between; 
    align-items: flex-end; 
    display: flex;
    position: relative;
    border-top: 1px solid white;
    border-radius: 50%;
    overflow: hidden;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}

.graph {
    opacity: .3;
    transform: scaleY(-1);
}

.note {
    position: absolute;
    top: 30%;
    left: 50%;
    opacity: .3;
    font-size: 4rem;
    transform: translate(-50%, -50%);
}

.cents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 2rem);
}

.scale {
    width: 15%;
    height: 2rem;
    background: green;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.hand {
    width: 2px;
    transition: 0.2s all;
    height: 50%;
    background: red;
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform-origin: center 90%;

    &:after {
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: #555555;
        position: absolute;
        bottom: 10%;
        left: 1px;
        transform: translate(-50%, 50%);
    }

    &.inTune {
        box-shadow: 0 0 5px white;
    }

    &.highlighted { 
        box-shadow: 0 0 2px 1px white;
        border-radius: 25%;
    }
}

.harmonics {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 1rem);
    opacity: .3; 
    font-size: .5em;
}
